.quiz {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 27px 80px rgba(25, 141, 203, 0.07),
    0px 6.0308px 17.869px rgba(25, 141, 203, 0.0417275),
    0px 1.79553px 5.32008px rgba(25, 141, 203, 0.0282725);
  margin-top: 60px;
  padding-top: 59px;
  padding-bottom: 66px;

  &__title {
    font-size: 28px;
    line-height: 35px;
  }
  &__list {
    counter-reset: section;
    margin-top: 24px;
  }
  &__item {
    counter-increment: section;
    &:not(:first-child) {
      margin-top: 14px;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    &:before {
      content: counter(section) ".\00a0\00a0";
    }
  }

  &__radio {
    padding-left: 0;

    input {
      position: absolute;
      visibility: hidden;

      &:checked + .btn {
        background-color: #22cbff;
        border: 1px solid #22cbff;
        color: #fff;
      }
    }
    .btn {
      border: 1px solid #d6e8f0;
      color: $grey;
      margin-bottom: 10px;

      &:hover,
      &:not(:disabled):not(.disabled):active {
        color: #fff;
      }
    }
  }
}
