head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Тестовое задание вебстудии EmphaSoft">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#46B4D4, 100 %">
    <meta name="theme-color" content="#46B4D4, 100 %">
    <meta name="msapplication-navbutton-color" content="#46B4D4, 100 %">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#46B4D4, 100 %">
    <meta name="msapplication-navbutton-color" content="#46B4D4, 100 %">
    <link  rel="icon"  href="images/icons/fav.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="styles/main.scss")
    title Webim