header.header 
    .container
        .header__logo 
            h1 The Modernist
            span Free PSD WEbsite Template
        nav.header__nav
            ul.menu
                li.menu__item
                    a(href="javascript:;") home
                li.menu__item
                    a(href="javascript:;") style demo
                li.menu__item
                    a(href="javascript:;") full width
                li.menu__item
                    a(href="javascript:;") dropdown
                li.menu__item
                    a(href="javascript:;") portfolio
                li.menu__item
                    a(href="javascript:;") gallery