body {
  color: #fff;
  font-family: "Georgia";
  background-position: top center;
  background-size: cover;
}

.loader {
  height: 5px;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: $green;
  transition: ease 0.16s;
}

.container {
  max-width: 960px;
  margin: auto;
}
